@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="http://localhost:49535/api/CreateCustomer/1/Mr/Colin/Parker">Create Customer</a>
</div>
